<div class="homepage">

  <section class="spotlight card">
    <div class="card-body">
      <h3 class="card-title">Media Spotlight: TOP MEDIA HERE</h3>
      <p class="card-text">
        RESULT FROM SPOTLIGHT LOGIC HERE - NUM OF VOTES - DESCRIPTION
      </p>
    </div>
  </section>

  <section class="top-media">

    <section class="top-movies">
      <h3>Top Movies</h3>
      <% Work.where(category: 'movie').each do |movie| %>
      <ul>
        <li>
          <%=movie.title%> by
          <%=movie.creator%>
        </li>
        <li>
          NUM OF VOTES
        </li>
      </ul>
      <%end%>
    </section>

    <section class="top-books">
      <h3>Top Books</h3>
      <% Work.where(category: 'book').each do |book| %>
      <ul>
        <li>
          <%=book.title%> by
          <%=book.creator%>
        </li>
        <li>
          NUM OF VOTES
        </li>
      </ul>
      <%end%>
    </section>

    <section class="top-albums">
      <h3>Top Albums</h3>
      <% Work.where(category: 'album').each do |album| %>
      <ul>
        <li>
          <%=album.title%> by
          <%=album.creator%>
        </li>
        <li>
          NUM OF VOTES
        </li>
      </ul>
      <%end%>
    </section>

  </section>

</div>
