<div class="homepage">

  <section class="spotlight card">
    <div class="card-body">
      <h3 class="card-title">Media Spotlight: <%=Work.top_media.title%> by <%=Work.top_media.creator%></h3>
      <p class="card-text">
        <%=Work.top_media.description%>
      </p>
    </div>
  </section>

  <section class="top-media">
    <% Work.get_categories.each do |category| %>
    <section class="top-<%=category.pluralize%>">
      <h3>Top <%=category.pluralize%></h3>
      <% Work.top_ten(category).each do |work| %>
      <ul>
        <li>
          <%=link_to work.title, work_path(work), class: "work-title"%> by
          <%=work.creator%>
        </li>
        <li>
          <%=Work.get_num_votes(work)%> votes
        </li>
      </ul>
      <%end%>
    </section>
    <% end %>
  </section>

</div>
