<h2> <%= action_name %> </h2>

<form>
<%= form_with model: @work, class: "work-form"  do |f|%>

  <p> <%= f.label :category %></p>
  <p class="form-select"> <%= f.select :category,[['movie','movie'], ['book','book'],['album','album']] %></p>

  <p> <%= f.label :title %></p>
  <p class="form-size"> <%= f.text_field :title %></p>

  <p> <%= f.label :creator %></p>
  <p class="form-size"> <%= f.text_field :creator %></p>

  <p> <%= f.label :publication_year %></p>
  <p class="form-size"> <%= f.text_field :publication_year %></p>

  <p> <%= f.label :description %></p>
  <p class="form-s"> <%= f.text_field :description %></p>

  <p> <%= f.submit button_title, class: "btn btn-primary"%></p>

<% end %>
</form>
