<h1> <%= action_name %> </h1>

<%= form_with model: @work, class: "work-form"  do |f|%>
  <p>Please provide the following information to save your media to our database:</p>
  <div class="form-group">
    <%= f.label :category %>
    <select class="form_control">
      <option>
        <%= "book" %>
      </option>
      <option>
        <%= "movie" %>
      </option>
      <option>
        <%= "album" %>
      </option>
    </select>
</div>
<div class="form-group">
  <%= f.label :title %>
  <%= f.text_field :title %>
</div>
<div class="form-group">
  <%= f.label :creator %>
  <%= f.text_field :creator %>
</div>
<div class="form-group">
  <%= f.label :publication_year %>
  <%= f.text_field :publication_year %>
</div>
<div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form_control' %>
</div>
<div class="form-group">
  <%= f.submit button_title, class: "btn btn-primary" %>
</div>
<% end %>
