<%= form_with model: @work  do |f|%>
  <p>Please provide the following information to save your work to our database:</p>



  <section>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :description %>
    <%= f.text_area :description %>
    <%= f.label :creator %>
    <%= f.text_area :creator %>
    <%= f.label :publication_year %>
    <%= f.text_area :publication_year %>
    <%= f.label :category, "Category" %>
    <%= f.select :category, ['album', 'movie', 'book']%>
  </section>


  <%= f.submit button_title %>
<% end %>
