
<table>

  <tr>
    <th>Votes</th>
    <th>Title</th>
    <th>Created by</th>
    <th>Published</th>
    <th>Upvote</th>
  </tr>

  <% model.each do |media| %>
    <tr>
      <td> <%= media.votes.length %> </td>
      <td>
        <%= link_to work_path(media.id) do %>
          <%= media.title %>
        <% end %>
      </td>
      <td> <%= media.creator %></td>
      <td> <%= media.pub_year %></td>
      <td> UPVOTE BUTTON HERE </td>
    </tr>

  <% end %>

</table>
