

<%= render partial: 'layouts/form_errors', locals: {
model: @work } %>

<%= form_with model: @work, local: true do |f| %>
<h2> <%= form_title %> </h2>
<p>
<%= f.label :category %>
<%=f.select :category, selections: Work::VALID_CATEGORIES%>

<%= f.label :title %>
<%= f.text_field :title, placeholder: "A Game of Thrones" %>

<%= f.label :creator %>
<%= f.text_field :creator, placeholder: "George R. R. Martin" %>

<%= f.label :publication_year %>
<%= f.text_field :publication_year, placeholder: "1996" %>

<%= f.label :Description %>
<%= f.text_field :description, placeholder: "First novel in A Song of Ice and Fire." %>
</p>
<p><%= f.submit action_type, class: "btn btn-primary" %></p>
<%end%>
