<%= render partial: 'layouts/form_errors', locals: { model: @work } %>

<%= form_with model: @work, class: 'work-form' do |f| %>

<div>
  <%= f.label :category %>
  <%= f.select :category, Work.get_categories %>
</div>

<div>
  <%= f.label :title %>
  <%= f.text_field :title %>
</div>

<div>
  <%= f.label :creator %>
  <%= f.text_field :creator %>
</div>

<div>
  <%= f.label :publication_year %>
  <%= f.text_field :publication_year %>
</div>

<div>
  <%= f.label :description %>
  <%= f.text_area :description %>
</div>

<div>
  <%= f.submit action_type, class: "work-form-submit-button" %>
</div>

<% end %>
