

<table>
  <tr>
    <th>Votes</th>
    <th>Title</th>
    <th>Created By</th>
    <th>Published</th>
    <th>Upvote</th>
  </tr>

  <% model.sort_by_votes.each do |work|%>
  <tr>
    <td><%= work.votes.count %></td>
    <td>
      <%= link_to work_path(work.id) do %>
      <%= work.title %>
      <% end %>
    </td>
    <td><%= work.creator %></td>
    <td><%= work.publication_year %></td>
    <td><%= link_to 'Upvote', upvote_path(work.id), method: :post %></td>
  </tr>
  <% end %>
</table>
