<h2>Edit this Work</h2>


<%= form_with model: @work do |f| %>

  <%= f.label :category %><br>
  <%= f.select :category, ['movie', 'book', 'album'] %>
  <br>
  <br>
  <%= f.label :title %><br>
  <%= f.text_field :title %>
  <br>
  <br>
  <%= f.label :creator %><br>
  <%= f.text_field :creator %>
  <br>
  <br>
  <%= f.label :publication_year %><br>
  <%= f.text_field :publication_year %>
  <br>
  <br>
  <%= f.label :description %><br>
  <%= f.text_field :description %>
  <br>
  <br>
  <%= f.submit "Edit Media" %>

<% end %>
