<h2> Media Spotlight: </h2>
<%= @top_work %>

<section class = "top-ten__container">

<ul class = "list-group top-ten__list">
  <li> <h3> TOP BOOKS </h3> </li>
<% @books_home.each do |work| %>
  <li class="list-group-item"><%= link_to "#{work.title}", work_path(work.id) %> </li>
  <li class="list-group-item"> <%=  "by: #{work.creator}" %> </li>
  <li class="list-group-item" > <%=  "#{work.votes.length} votes" %> </li>
   <% end %>
 </ul>




 <ul class = "list-group top-ten__list">
   <li> <h3> TOP ALBUMS </h3> </li>
 <% @albums_home.each do |work| %>
   <li class="list-group-item"><%= link_to "#{work.title}", work_path(work.id) %> </li>
   <li class="list-group-item"> <%=  "by: #{work.creator}" %> </li>
   <li class="list-group-item" > <%=  "#{work.votes.length} votes" %> </li>
    <% end %>
  </ul>




  <ul class = "list-group top-ten__list">
    <li> <h3> TOP MOVIES </h3> </li>
  <% @movies_home.each do |work| %>
    <li class="list-group-item"><%= link_to "#{work.title}", work_path(work.id) %> </li>
    <li class="list-group-item"> <%=  "by: #{work.creator}" %> </li>
    <li class="list-group-item" > <%=  "#{work.votes.length} votes" %> </li>
     <% end %>
   </ul>
   </section>
