<h1>Works#home</h1>
<p>Find me in app/views/works/home.html.erb</p>
<h1>Media Spotlight:
  <% if @spotlight == nil %>
  <%= "(no votes yet)" %>
  <% else %>
  <%= link_to @spotlight.title, work_path(@spotlight.id) %> by <%= @spotlight.creator %></h1>
<h4><%= "#{@spotlight.print_number_of_votes} - #{@spotlight.description}" %></h4>
<% end %>
  <% @works.each_key do |category| %>
<h2>TOP <%= category.upcase %>S</h2>
      <ul>
        <% @works[category].each do |work| %>
          <li><h3><%= link_to work.title, work_path(work.id) %></h3></li>
          <ul>
            <li><h4>by <%= work.creator %></h4></li>
            <li><h4><%= work.print_number_of_votes %></h4></li>
          </ul>
        <% end %>
      </ul>
  <% end %>
