<h3>All Media Page</h3>
<br>
<br>
<table cellpadding="5">



  <thead>
    <tr>
      <td>Category</td>
      <td>Title</td>
      <td>Creator</td>
      <td>Publication Year</td>
      <td>Description</td>
    </tr>
  </thead>

  <tbody>
  <% @works.each do  |w| %>
    <tr>
      <td><%= w.category %></td>
      <td><%= w.title %></td>
      <td><%= w.creator %></td>
      <td><%= w.publication_year %></td>
      <td><%= w.description %></td>
    <% end   %>
    </tr>
  </tbody>
</table>
