<h1>List of Works</h1>
<h2>Albums</h2>
<ul>
  <% Work.order_works_by_category('album').each do |work| %>
    <li>
      <%= "#{work.votes.size}" %>
      <%= link_to work.title, work_path(work.id) %>
      <%= work.creator %>
      <%= work.publication_year %>
      <%= link_to "Upvote", work_votes_path(work.id), method: :create %>
    </li>
  <% end %>
</ul>
<h2>Books</h2>
<ul>
  <% Work.order_works_by_category('book').each do |work| %>
    <li>
      <%= "#{work.votes.size}" %>
      <%= link_to work.title, work_path(work.id) %>
      <%= work.creator %>
      <%= work.publication_year %>
      <%= link_to "Upvote", work_votes_path(work.id), method: :create %>
    </li>
  <% end %>
</ul>
<h2>Movies</h2>
<ul>
  <% Work.order_works_by_category('movie').each do |work| %>
    <li>
      <%= "#{work.votes.size}" %>
      <%= link_to work.title, work_path(work.id) %>
      <%= work.creator %>
      <%= work.publication_year %>
      <%= link_to "Upvote", work_votes_path(work.id), method: :create %>
    </li>
  <% end %>
</ul>
