List of Works
<br>
<table>
  <thead>
    <tr>
      <th width=80>Votes(loljk work id)</th>
      <th>Title</th>
      <th width=100>Category</th>
      <th>Created By</th>
      <th width=100>Published</th>
      <th width=100>Upvote</th>
    </tr>
  </thead>
  <tbody>

    <% @works.each do |work| %>
      <tr>
        <td><%= work.id %></td>
        <td><%= link_to work.title, work_path(work) %></td>
        <td><%= work.category %></td>
        <td><%= work.creator %></td>
        <td><%= work.publication_year %></td>
        <td><%= link_to "Upvote", vote_path(work), class: "button upvote", method: :post %></td>
      </tr>
    <% end %>

  </tbody>
</table>
