<h1> List of Works </h1>
<strong>
  Books
</strong>
<ul>

  <% @works.each do |work| %>
  <% if work.category == 'book' %>

  <li>
    <%= work.category %>
    <%= work.title %>
    <%= work.creator %>
    <%= work.publication_year %>
    <%= work.description %>
  </li>
    <% end %>
  <% end %>
</ul>

<strong>
  Albums
</strong>
<ul>
  <% @works.each do |work| %>
  <% if work.category == 'album' %>
  <li>
    <%= work.category %>
    <%= work.title %>
    <%= work.creator %>
    <%= work.publication_year %>
    <%= work.description %>
  </li>
    <% end %>
  <% end %>
</ul>


<strong>
  Movies
</strong>
<ul>
  <% @works.each do |work| %>
  <% if work.category == 'movie' %>
  <li>
    <%= work.category %>
    <%= work.title %>
    <%= work.creator %>
    <%= work.publication_year %>
    <%= work.description %>
  </li>
    <% end %>
  <% end %>
</ul>
