<h1 class="title">List of Works</h1>

<h2 class="sub-header">Albums</h2>
<table class="index-table">
  <%= render partial: "headers" %>
  <tbody>
    <%= render partial: "categorytable", collection: @albums %>
  </tbody>
</table>

<h2 class="sub-header">Books</h2>
<table class="index-table">
  <%= render partial: "headers" %>
  <tbody>
    <%= render partial: "categorytable", collection: @books %>
  </tbody>
</table>


<h2 class="sub-header">Movies</h2>
<table class="index-table">
  <%= render partial: "headers" %>
  <tbody>
    <%= render partial: "categorytable", collection: @movies %>
  </tbody>
</table>
