<br>
<section>
  <h3>List of Works</h3>
</section>
<br>

<% @works.each do |c, works| %> <!-- iterate over the works hash that was created in in index by group_by -->
<strong><%= c.titleize %></strong>

<table cellpadding="5">

    <thead>
      <tr>
        <td>Votes</td>
        <td>Title</td>
        <td>Created By</td>
        <td>Published</td>
        <td>Upvote</td>
      </tr>
    </thead>

    <tbody>

      <% works.each do  |w| %>
      <tr>
        <td><%= pluralize(w.votes.count, "vote")%></td>
        <td><%= link_to "#{w.title}", work_path(w.id)%></td>
        <td><%= w.creator %></td>
        <td><%= w.publication_year %></td>
        <td><%= button_to 'Upvote', upvote_work_path(w.id), method: :post %></td>
        <% end   %>
      </tr>
    </tbody>
  </table>
<% end   %>
