<h1> List of Works </h1>
<ul>
  <% @works.each do |work| %>
  <li>
    <strong>
      <%= work.id %>
    </strong>
    <%= work.category %>
    <%= work.title %>
    <%= work.creator %>
    <%= work.publication_year %>
    <%= work.description %>
  </li>
  <% end %>
</ul>
