<h1>List of Works</h1>
<h2>Albums</h2>
<ul>
  <% @works.each do |work| %>
    <% if work.category == "movie" %>
    <li>
      <%= "#{work.votes.size}" %>
      <%= link_to work.title, work_path(work.id) %>
      <%= work.creator %>
      <%= work.publication_year %>
      <%= link_to "Upvote", work_votes_path(work.id), method: :create %>
    </li>
    <% else %>
      <% next %>
    <% end %>
  <% end %>
</ul>
<h2>Books</h2>
<ul>
  <% @works.each do |work| %>
    <% if work.category == "movie" %>
    <li>
      <%= "#{work.votes.size}" %>
      <%= link_to work.title, work_path(work.id) %>
      <%= work.creator %>
      <%= work.publication_year %>
      <%= link_to "Upvote", work_votes_path(work.id), method: :create %>
    </li>
    <% else %>
      <% next %>
    <% end %>
  <% end %>
</ul>
<h2>Movies</h2>
<ul>
  <% @works.each do |work| %>
    <% if work.category == "movie" %>
    <li>
      <%= "#{work.votes.size}" %>
      <%= link_to work.title, work_path(work.id) %>
      <%= work.creator %>
      <%= work.publication_year %>
      <%= link_to "Upvote", work_votes_path(work.id), method: :create %>
    </li>
    <% else %>
      <% next %>
    <% end %>
  <% end %>
</ul>
