<h1> This is all the media! </h1>

<section>
  <h2> Books </h2>
  <% @books.each do |work| %>
  <h2>
    <%= link_to "#{work.title}", work_path(work.id) %>
  </h2>
  <%= "Created by: #{work.creator}" %>
  <%= "Published : #{work.publication_year}" %>
  <%= link_to "Upvote", upvote_path(work.id), method: :post, class: 'btn btn primary'%> 

  <% end %>
  </section>

  <section>
    <h2> Albums </h2>
    <% @albums.each do |work| %>
    <h2>
      <%= link_to "#{work.title}", work_path(work.id) %>
    </h2>
    <%= "Created by: #{work.creator}" %>
    <%= "Published : #{work.publication_year}" %>
    <%=link_to "Upvote", upvote_path(work.id), method: :post, class: 'btn btn primary'%>

    <% end %>
    </section>

    <section>
      <h2> Movies </h2>
      <% @movies.each do |work| %>
      <h2>
        <%= link_to "#{work.title}", work_path(work.id) %>
      </h2>
      <%= "Created by: #{work.creator}" %>
      <%= "Published : #{work.publication_year}" %>
      <%=link_to "Upvote", upvote_path(work.id), method: :post, class: 'btn btn primary'%>
      <% end %>
      </section>
