<div id="works-index">

  <h2>List of Works</h2>

  <ul class="work-columns">
    <li>
      Votes
    </li>
    <li>
      Title
    </li>
    <li>
      Created By
    </li>
    <li>
      Published
    </li>
    <li>
      Upvote
    </li>
  </ul>

  <% @works.each do |work| %>
  <ul class="list-of-works">
    <li>
      <%= work.votes %>
    </li>
    <li>
      <%= work.title %>
    </li>
    <li>
      <%= work.creator %>
    </li>
    <li>
      <%= work.publication_year %>
    </li>
    <li>
      <%= button_to "Upvote", new_vote_path %>
    </li>

  </ul>

  <% end %>
</div>
