<div class="container">

  <div class="div5">
    <h3>List of Works</h3>
  </div>

  <div class="album">
    <h2>ALBUMS</h2>
    <ol class="album">
      <% @works.each do |work| %>
      <% if work.category == "book" %>
      <li>
        <p>
          <strong><%= link_to work.title, work_path(work.id) %></strong> by <%= "#{work.creator}" %>
        </p>
        <p>
          <%= "#{work.votes.count}" %> votes
        </p>
        <%= link_to "Edit", edit_work_path(work.id), class: "edit-link" %> |
        <%= link_to "Delete", work_path(work.id), method: :delete, data: {confirm: "Are you sure you want to get rid of work #{work.title}?" } %>
      </li>
    </ol>
    <% end %>
  </div>
  <% end %>


  <div class="book">
    <h2>BOOKS</h2>
    <ol class="book">
      <% @works.each do |work| %>
      <% if work.category == "book" %>
      <li>
        <p>
          <strong><%= link_to work.title, work_path(work.id) %></strong> by <%= "#{work.creator}" %>
        </p>
        <p>
          <%= "#{work.votes.count}" %> votes
        </p>
        <%= link_to "Edit", edit_work_path(work.id), class: "edit-link" %> |
        <%= link_to "Delete", work_path(work.id), method: :delete, data: {confirm: "Are you sure you want to get rid of work #{work.title}?" } %>
      </li>
    </ol>
    <% end %>
  </div>
  <% end %>

  <div class="movie">
    <h2>MOVIES</h2>
    <ol class="movie">
      <% @works.each do |work| %>
      <% if work.category == "movie" %>
      <li>
        <p>
          <strong><%= link_to work.title, work_path(work.id) %></strong> by <%= "#{work.creator}" %>
        </p>
        <p>
          <%= "#{work.votes.count}" %> votes
        </p>
        <%= link_to "Edit", edit_work_path(work.id), class: "edit-link" %> |
        <%= link_to "Delete", work_path(work.id), method: :delete, data: {confirm: "Are you sure you want to get rid of work #{work.title}?" } %>
        <%= link_to "Upvote", upvote_path(work.id), method: :post, class: "upvote-link" %>
      </li>
    </ol>
    <% end %>

  </div>
  <% end %>
</div>
