<section class="flash">
  <% flash.each do |name, message| %>
    <% if message.class == Array %>
      <div class="alert alert-warning">
        <% message.each do |msg| %>
          <p><strong><%= "#{name}:" %></strong><%= " #{msg}" %></p>
        <% end %>
      </div>
    <% else %>
      <div class="alert alert-<%= name %>">
        <%= message %>
      </div>
    <% end %>
  <% end %>
</section>

<section class="works-index">
  <h1>List of Works</h1>
  <% ['album', 'book', 'movie'].each do |cat| %>
    <h2><%= cat.capitalize %>s</h2>
    <% works = @works.where(category: cat) %>
      <table class="table table-responsive-md">
        <thead>
          <tr>
            <th class="h3">Votes</th>
            <th class="h3">Title</th>
            <th class="h3">Created By</th>
            <th class="h3">Published</th>
            <th class="h3">Upvote</th>
          </tr>
        </thead>
        <tbody>
          <% works.each do |work| %>
            <tr>
            <td><%= work.votes_count%></td>
              <td><%= link_to "#{work.title}", work_path(work.id) %></td>
              <td><%= work.creator %></td>
              <td><%= work.publication_year %></td>
              <td><%= link_to "Upvote", works_upvote_path(work.id), method: :patch, class: "btn btn-primary" %>

            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  <br>
</section>


