<h2>List of Works</h2>

<section class="media-table">
  <h4 class="header media-table">Albums</h4>
  <table class="table">
    <thead>
      <tr>
        <th>Votes</th>
        <th>Title</th>
        <th>Created By</th>
        <th>Published</th>
        <th>Upvote</th>
      </tr>
    </thead>
    <tbody>
      <% Work.list_of("album").each do |work| %>
        <tr>
          <td><%= work.votes.length %></td>
          <td><%= link_to "#{work.title}", work_path(work.id) %></td>
          <td><%= work.creator %></td>
          <td><%= work.publication_year %></td>
          <td>
            <%= link_to "Upvote", upvote_path(work.id), class: "btn btn-primary", role: "button", method: :post %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>

<section class="media-table">
  <h4 class="header media-table">Books</h4>
  <table class="table">
    <thead>
      <tr>
        <th>Votes</th>
        <th>Title</th>
        <th>Created By</th>
        <th>Published</th>
        <th>Upvote</th>
      </tr>
    </thead>
    <tbody>
      <% Work.list_of("book").each do |work| %>
        <tr>
          <td><%= work.votes.length %></td>
          <td><%= link_to "#{work.title}", work_path(work.id) %></td>
          <td><%= work.creator %></td>
          <td><%= work.publication_year %></td>
          <td>
            <%= link_to "Upvote", upvote_path(work.id), class: "btn btn-primary", role: "button", method: :post %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>

<section class="media-table">
  <h4 class="header media-table">Movies</h4>
  <table class="table">
    <thead>
      <tr>
        <th>Votes</th>
        <th>Title</th>
        <th>Created By</th>
        <th>Published</th>
        <th>Upvote</th>
      </tr>
    </thead>
    <tbody>
      <% Work.list_of("movie").each do |work| %>
        <tr>
          <td><%= work.votes.length %></td>
          <td><%= link_to "#{work.title}", work_path(work.id) %></td>
          <td><%= work.creator %></td>
          <td><%= work.publication_year %></td>
          <td>
            <%= link_to "Upvote", upvote_path(work.id), class: "btn btn-primary", role: "button", method: :post %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>

<section>
  <%= link_to "View top media", root_path, class: "btn btn-secondary", role: "button" %>
  <%= link_to "Add a new work", new_work_path, class: "btn btn-primary", role: "button" %>
</section>
