
<div class = "media-spotlight">
<h2> Media Spotlight: <%= @media.title %> by <%= @media.creator %> </h2>
  <h5> <%= @media.votes.length %> votes </h5>
</div>


<h2> Top Movies </h2>
<%= render partial: 'works/media_top10',
locals: {
  model: @movies
}
%>

<h2> Top Books </h2>
<%= render partial: 'works/media_top10',
locals: {
  model: @books
}
%>

<h2> Top Albums </h2>
<%= render partial: 'works/media_top10',
locals: {
  model: @albums
}
%>
