<h1>Media Spotlight:
  <% spotlight = @works.sample%>
  <%=link_to spotlight.title, work_path(spotlight.id)%> by <%=spotlight.creator%></h1>
  <p><%=spotlight.votes.count%> votes - <%=spotlight.description%></p>
<%['movie', 'book', 'album'].each do |category|%>
  <h1>Top <%=category.capitalize%>s</h1>
  <%@works = Work.sort_by_votes(category)%>
    <% @works.first(10).each do |work| %>
        <%if category == work.category%>
        <h4> <%=link_to work.title, work_path(work.id)%> by <%=work.creator%></h4>
        <p> <%=work.votes.count%> votes</p>
        <%end%>
    <%end%>
    <br>
    <br>
<% end %>
