<h1>Works#new</h1>
<p>Find me in app/views/works/new.html.erb</p>

<%= form_with model: @work, url: 'works_path', method: :post do |f| %>
  <% if @work.errors.any? %>
  <ul class="errors">
    <% @work.errors.each do | col, msg | %>
    <li>
      <strong><%= col.capitalize %></strong> <%= msg %>
    </li>
    <% end %>
  </ul>
  <% end %>

  <%= f.label :title, 'Title' %>
  <%= f.text_field :title, placeholder: 'Title', required: true, maxlength: 40 %>

  <%= f.label :creator, 'Creator' %>
  <%= f.text_field :creator, placeholder: 'Creator', required: true, maxlength: 30 %>

<!-- Change to select from collection -->
  <%= f.label :category, "Category" %>
  <%= f.select :category, [[1], [2], [3], [4], [5]], selected: 1, prompt: 'Select Category (Required)' %>

  <%= f.label :publication, 'Year Published' %>
  <%= f.text_field :publication, placeholder: 'Year Published', required: true, maxlength: 4 %>
<!-- Change to a text box -->
  <%= f.label :description, 'Description' %>
  <%= f.text_field :description, placeholder: 'Description', maxlength: 50 %>

  <%= f.submit 'Save Me!' %>
<% end %>
