<h2> <%=@work.title%></h2>
<p>
  Created by: <%=@work.creator%>
</p>

<p>
  Published: <%=@work.publication_year%>
</p>

<p>
  Summary: <%=@work.description%>
</p>

<button type="button" class="btn btn-info">
  <div><%= link_to "Back to media ranks", root_path%>
  </div>
</button>

<button type="button" class="btn btn-info">
  <div><%= link_to "Edit", edit_work_path(@work)%>
  </div>
</button>

<button type="button" class="btn
btn-danger">
<div class="delete"><%= link_to "Delete", work_path(@work), method: :delete, data: { confirm: "Are you sure you want to delete #{@work.title}"} %>
</div>
</button>
