<% if @work.errors.any? %>
  <ul class="errors">
    <% @work.errors.each do |column, message| %>
      <li>
        <strong><%= column.capitalize %></strong> <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>


<h2>Title: <%= @work.title %></h2>
<h3>Creator: <%= @work.creator %></h3>
<h4>Published: <%= @work.publication_year %></h4>
<h4>Description: <%= @work.description %></h4>


<div><%= link_to "Edit Work Info", edit_work_path(@work.id) %> </div>

<div><%= link_to "Delete Work", work_path(@work), method: :delete, data: { confirm: "are you sure you want to delete #{@work.title}"} %></div>

<div><%= link_to "Upvote", upvote_work_path(@work), method: :post %></div>

<section class = "voters">
  <h3><%= @work.votes.count %> votes for this work:</h3>
  <% @voters.each do |voter| %>
  <p><%= voter.username %></p>
  <% end %>
</section>
