<h1>Works#show</h1>
<p>Find me in app/views/works/show.html.erb</p>

<h1>Media Details</h1>
<h2>Category:<%= @work.category %></h2>
<h2>Title:<%= @work.title %></h2>
<h2>Creator:<%= @work.creator %></h2>
<h2>Publication Year:<%= @work.publication_year %></h2>
<h2>Description:<%= @work.description %></h2>
