<h1><%= @work.title %></h1>
<p>
  <%= @work.creator %>
</p>
<p>
  <%= @work.publication_year %>
</p>
<p>
  <%= @work.description %>
</p>

<section>
  <div>
    <%= link_to "Back to media ranks", root_path %>
  </div>
  <div>
    <%= link_to "Edit", edit_work_path(@work.id) %>
  </div>
  <div>
    <%= link_to "Upvote", work_votes_path(@work.id), method: :create %>
  </div>
  <div>
    <%= link_to "Delete", work_path(@work), method: :delete, data: { confirm: "Are you sure you want to delete #{@work.title}?" } %>
  </div>
</section>
<section>
  <strong><%= "#{@work.votes.size}" %> Votes for this <%= "#{@work.category.capitalize}" %></strong>
</section>
<section>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">User</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
    <% @work.votes.each do |vote| %>
    <tr>
      <th scope="row"><%= User.find_by(id: vote.user_id).name %></th>
      <td><%= vote.created_at %></td>
    </tr>
    <% end %>
    </tbody>
  </table>
</section>
