<h1><%= @work.title %></h1>
<p>
  <%= @work.creator %>
</p>
<p>
  <%= @work.publication_year %>
</p>
<p>
  <%= @work.description %>
</p>

<section>
  <div>
    <%= link_to "Edit", edit_work_path(@work.id) %>
  </div>
  <div>
    <%= link_to "Delete", work_path(@work), method: :delete, data: { confirm: "Are you sure you want to delete #{@work.title}?" } %>
  </div>
</section>
