<h2> Work details</h2>

<% if @work.nil? %>
  <h1> 404 Not found</h1>
<% else %>
<section class='vote-for'>
    <%= link_to "Vote!", vote_path(@work.id), method: :create %>
  <p> <%= "#{@work.title} has #{@work.votes.count} votes." %> </p>

</section>
  <!-- show vote counts, then as badge in bootstrap -->
 <ul>
   <li> <%= @work.title %> </li>
   <li> <%= @work.creator %> </li>
   <li> <%= @work.category %> </li>
   <li> <%= @work.year %> </li>
   <li> <%= @work.description %> </li>
 </ul>
 <!-- only allow users to edit/delete if they had added the work to the db -->
 <% if @current_user %>
    <%= link_to "Edit", edit_work_path(@work.id) %>
    <%= link_to "Delete Work", work_path(@work.id), method: :delete, data: { confirm: 'Are you sure? This cannot be undone!'} %>
    <% else %>
    You must be logged in to delete or edit a work.
  <% end %>
 <% end %>
