<h1>Show Work</h1>

<%= @work.category.capitalize %>
<br>
<%= @work.title %>
<br>
<%= @work.creator %>
<br>
<%= @work.publication_year %>
<br>
<%= @work.description %>

<%= link_to "Back to media ranks", root_path, class: "btn btn-primary" %>

<%= link_to "Delete", work_path(@work.id), class: "btn btn-primary" %>

<%= link_to "Edit", edit_work_path(@work.id), class: "btn btn-primary" %>

<%= link_to "Upvote", upvote_path, method: :post, class: "btn btn-primary" %>
