<h1>Work show page</h1>

<p>Title: <%= @work.title %></p>

<p>Created by: <%= @work.creator %></p>
<p>Published: <%= @work.publication_year %></p>

<%= @work.description %></p>





<%= link_to "(Edit)", edit_work_path %>
<%= link_to "(Delete)", work_path(@work), method: :delete, data: { confirm: "Are you 1000% sure you want to delete the Driver: #{@work.title}?" } %>
<p>

  <h4><%= link_to "(Back to media ranks)", works_path %></h4>

  <%= link_to "Upvote", upvote_work_path(@work.id), method: :post, class: "btn btn-outline-info"
  %>

  <%= @work.total_votes %> Votes for this <%= @work.category %></p>


  <% @work.votes.each do |vote| %></p>
  <%= link_to "#{vote.user.username}", user_path(vote.user.id) %>
  Date: 
  <%= vote.created_at %>

  <% end %>


</p>
