<div id="work_details">
  <h2><%=@work.title%></h2>
  <ul>
    <li>Created by: <%=@work.creator%></li>
    <li>Published: <%=@work.publication_year%></li>
    <li><p><%=@work.description%></p></li>
  </ul>
  <div class="options_bar">
    <h1>THESE ARE BAD LINKS. FIX THEEEEEEM</h1>

    <button type="button" class="btn btn-info">
      <%= link_to "Back to media ranks", works_path%>
    </button>

    <button type="button" class="btn btn-info">
      <%= link_to "Edit", edit_work_path(@work)%>
    </button>

    <button type="button" class="btn btn-info">
      <%= link_to "Upvote", create_work_vote_path(@work), method: :post%>
    </button>

    <button type="button" class="btn btn-danger">
      <%= link_to "Delete", work_path(@work), method: :delete%>
    </button>

  </div>
    <h1>ADD VOTES FOR THIS WORK YADA YADA</h1>
</div>
