<h2><%= @work.title %></h2>
<ul>
  <li>Created by: <%= @work.creator %></li>
  <li>Published: <%= @work.publication_year %></li>
  <li><%= @work.description %></li>
</ul>
<ul>
  <li><%= link_to 'Back to media ranks', works_path %></li>
    <li><%= link_to 'Edit', edit_work_path(@work.id) %></li>
  <li>Upvote</li>
    <li><%= link_to 'Delete', work_path(@work.id), method: :delete, data: { confirm: "Are you sure you want to delete #{@work.title}?" } %></li>
</ul>
<h3>To Do</h3>
<ul>
  <li>Add vote link</li>
  <li>Add total votes for this work</li>
  <li>Add list of users who voted for this work</li>
</ul>
