<h1>Work show page</h1>

<p>Title: <%= @work.title %></p>

<p>Created by: <%= @work.creator %></p>
<p>Published: <%= @work.publication_year %></p>

<%= @work.description %></p>


<%= link_to "(Edit)", edit_work_path %>
<%= link_to "(Delete)", work_path(@work), method: :delete, data: { confirm: "Are you 1000% sure you want to delete the Driver: #{@work.title}?" } %>
<p>

<h4><%= link_to "(Back to media ranks)", works_path %></h4>
</p>
