<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @work.title %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @work.creator %>
</p>

<p>
  <strong>Description:</strong>
  <%= @work.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @work.category %>
</p>

<p>
  <strong>Publication year:</strong>
  <%= @work.publication_year %>
</p>

<p>
  <strong>Votes:</strong>
  <%= @work.votes_count %>
</p>

<p>
  <strong>User Votes:</strong>
  <% @work.votes.each do |vote| %>
    <% user = User.find(vote.user_id) %>
    <%= user.name %><br>
  <% end %>
</p>

<%= link_to 'Edit', edit_work_path(@work), class: "btn btn-primary" %> |
<%= link_to 'Destroy', @work, method: :delete, class: "btn btn-primary", data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back', works_path, class: "btn btn-primary" %>

<section class="upvote">
  <div class="upvote">
    <strong class="btn btn-secondary"><%= link_to "Upvote", works_upvote_path(@work.id), method: :patch, class: "btn btn-primary" %></strong>
  </div>
</section>


