

<main>
  <section>
  <h2><%= link_to @work.title, work_path(@work.id)  %></h2>
  <p>by <%= @work.creator %></p>
  <p><%= @work.publication_year %></p>
  <p></p>
  <section>
    <%=link_to "View top media", root_path, class: "btn btn-primary"%>
    <%= link_to "Edit", edit_work_path(@work.id), class: "btn btn-primary"%>
    <%= link_to "Upvote", work_votes_path(@work.id), method: :post,  class: "btn btn-primary"%>
    <%= link_to "Delete", work_path(@work.id), method: :delete, data: {confirm: "Please confirm you would like to be deleted as a driver"}, class: "btn btn-danger" %>
  </section>
</section>

<section class="works-votes__container">
  <h3 class="works-votes__header"><%= @work.votes.count %> for <%= @work.category %></h3>
  <table class="table">
    <thead>
      <tr>
        <th>User</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%#= link_to @work.votes, user_path(@vote.username)%></a> add user name</td>
        <td><%# Date.parse(@work.votes.created_at.to_s) %>date voted</td>
      </tr>
    </tbody>
  </table>
</section>
</main>
