<section>
  <h2><%= @work.title %></h2>
  <ul>
    <li>Created by: <%= @work.creator %></li>
    <li>Published: <%= @work.publication_year %></li>
    <li>Description: <%= @work.description %></li>
  </ul>
</section>

<section class="show_page_buttons">

    <button type="button"><%= link_to "Back to media ranks", root_path %></button>
    <button type="button"><%= link_to "Edit", edit_work_path(@work.id) %></button>
    <button type="button">UPVOTE link</button>
    <button type="button"><%= link_to "Delete", work_path(@work.id), data: { confirm: "Are you sure you want to delete #{@work.category} #{@work.title}?", method: :delete} %></button>
</section>

<section>
  <h2># Votes for this <%= @work.category %></h2>
</section>
