<h1>Works#show</h1>
<p>Find me in app/views/works/show.html.erb</p>

<h1><%= @work.title %></h1>
<p>Created by: <%= @work.creator %></p>
<p>Published: <%= @work.publication %></p>
<p><%= @work.description %></p>

<ul>
  <li><%= link_to "Back to media ranks", root_path %></li>
  <li><%= link_to "Edit", edit_work_path(@work.id) %></li>

<% if @current_user && @work.has_no_vote_by?(@current_user) %>
  <li><%= link_to "Upvote", work_votes_path(@work.id), method: :post %></li>
<% end %>
  <li><%= link_to "Delete", work_path(@work.id), method: :delete %></li>
</ul>
