<% if @work.nil? %>
  <h1> 404 Not found</h1>
<% else %>
  <h1><%=@work.title%></h1>
  <p>Created by:<%= @work.creator%> </p>
  <p>Published:<%= @work.publication_year%> </p>
  <p><%= @work.description%> </p>

  <p><%= button_to "Edit", edit_work_path(@work.id), method: :get %></p>
  <p><%= button_to "Delete", work_path(@work.id), method: :delete , data: {confirm: "Are you sure?"}%></p>
  <p><%= button_to "Upvote", work_votes_path(@work.id), method: :create %></p>

  <p><%= "#{@work.votes.count} votes for this #{@work.category}"%> </p>
  <table class="header">
  <tr><td>User</td><td>Date</td></tr>
  <p><%@work.votes.map do |vote| %>
    <tr>
    <td><%= link_to "#{vote.user_id}", user_path(vote.user_id) %></td>
    <td><%=vote.created_at%></td>
    </tr>
  <%end%>
  </table>


<% end %>
