<section class = "work-details">
  <h2><%= @work.title %></h2>
  <p>Created by: <%= @work.creator %></p>
  <p>Published: <%= @work.published_year %></p>
  <p><%= @work.description%></p>
  <p>
    <button type="button" class="btn btn-info">
        <%= link_to "Back to media ranks", root_path %>
    </button>
    <button type="button" class="btn btn-info">
      <%= link_to "Edit", edit_work_path %></button>
    <button type="button" class="btn btn-info upvote-btn"><%=link_to "Upvote",work_votes_path(@work.id), method: :post %></button>
    <button type="button" class="btn btn-danger">
      <%= link_to "Delete", work_path(@work.id), method: :delete, data: {confirm: "Are you sure you want to delete this item?"} %>
    </button>
  </p>
  <section class="work-votes">
    <h3>
      <%=@work.votes_count%>
      <span>Votes for this</span>
      <%=@work.category.capitalize%>
    </h3>

    <table class="table">
      <thead>
        <tr>
          <th>User</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% @work.votes.each do |vote| %>
          <td><%= link_to "#{vote.user.username}", user_path(vote.user.id) %></td>
          <td><%=vote.created_at.strftime("%b %d, %Y")%></th>
        </tr>
        <% end %>
      </tbody>
    </table>
  </section>
</section>
