<h3>Media Details</h3>

<h3><%= @work.title %></h3>
<p><%= "Created by: #{@work.creator}" %></p>
<p><%= "Published: #{@work.publication_year}" %></p>
<p><%= @work.description %></p>

<strong><%= link_to "Back to media ranks", works_path %></strong>
<strong><%= link_to "Edit", edit_work_path(@work.id) %></strong>
<strong><%= link_to "Delete", work_path, method: :delete,
   data: { confirm: "Are you sure you want to delete this?" } %></strong>

<h4><%= "Votes for #{@work.category}" %></h4>

<table cellpadding="20">

  <thead>
    <tr>
      <th>Users</th>
      <% @work.votes.each do |vote| %>
        <li>
        <%= vote.user.user_name%>
        </li>
      <% end %>
      <th>Date</th>
      <% @work.votes.each do |date| %>
        <%= date.user.created_at %>
      <% end %>
    </tr>
  </thead>




</table>
