<h2>
  <strong><%= @work.title %></strong>
</h2>

<p> Creator: <%= @work.creator %> </p>

<p> Published: <%= @work.publication_year %> </p>

<p> Description: <%= @work.description %> </p>

<%= link_to "Edit", edit_work_path(@work.id), class: "edit-link" %>
