<section>
  <h2><%= @work.title%></h2>
  <p>Created by: <%= @work.created_by%></p>
  <p>Published: <%= @work.year_published%></p>
  <p></p>
</section>
<section>
  <%= link_to "Back to media ranks", works_path, class: "btn btn-primary" %>
  <%= link_to "Edit", edit_work_path, class: "btn btn-primary" %>
  <a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/:id/upvote">Upvote</a>
  <%= link_to "Delete", work_path, method: "delete", class: "btn btn-danger" %>
</section>
