<h1>
  <%= @work.title %>
</h1>
<ul>
  <li>
    Created by: <%= @work.creator %>
  </li>
  <li>
    Published: <%= @work.publication_year %>
  </li>
  <li>
    <%= @work.description %>
  </li>
</ul>

<ul>
  <li>
    <%= link_to "Back to media ranks", home_path %>
  </li>
  <li>
    <%= link_to "Edit", edit_work_path(@work.id) %>
  </li>
  <!-- <li>
    <%= link_to "Upvote", home_path %>
  </li>
  <li>
    <%= link_to "Delete", work_path(@work.id) %>
  </li> -->
</ul>
