<div id="work_details">
  <h2><%=@work.title%></h2>
  <ul>
    <li>Created by: <%=@work.creator%></li>
    <li>Published: <%=@work.publication_year%></li>
    <li><p><%=@work.description%></p></li>
  </ul>
  <div class="options_bar">

    <button type="button" class="btn btn-info">
      <%= link_to "Back to media ranks", works_path%>
    </button>

    <button type="button" class="btn btn-info">
      <%= link_to "Edit", edit_work_path(@work)%>
    </button>

    <button type="button" class="btn btn-info">
      <%= link_to "Upvote", create_work_vote_path(@work), method: :post%>
    </button>

    <button type="button" class="btn btn-danger">
      <%= link_to "Delete", work_path(@work), method: :delete%>
    </button>

  </div>
    <h1><%=Work.get_num_votes(@work)%> Votes for this <%=@work.category%></h1>
    <table class="table">
      <thead>
        <th scope="col">
          User
        </th>
        <th scope="col">
          Date
        </th>
      </thead>
      <% @work.votes.each do |vote| %>
      <tbody>
        <tr>
          <td>
            <%=User.find_by(id: vote.user_id).username%>
          </td>
          <td>
            <%=Vote.get_date(vote)%>
          </td>
        </tr>
      </tbody>
      <%end%>

    </table>
</div>
