<div class="description-container">

  <h2><%= @work.title %> </h2>
  <h4>Created by <%= @work.creator %></h4>

  <p class="description-text"><%= @work.category %> | <%= @work.publication_year %> | <%= @work.description %></p>
</div>
<div class="return-home">
  <h3>
    <%= link_to "Return Home", all_works_path, class: "homepage" %>
  </h3>
</div>
