<section>
  <h2><%= "Media Spotlight: "%>
    <%= link_to "#{@ordered_works.first.title}", work_path(@ordered_works.first)%>
    <%= "by #{@ordered_works.first.creator}" %>
  </h2>

  <p><%= "#{@ordered_works.first.votes.count} votes - #{@ordered_works.first.description}" %></p>
</section>


<section>
  <h2>Top Movies</h2>
  <ul>
    <% @works.each do |work| %>
    <% if work.category == "movie" %>
    <li><%= link_to "#{work.title}", work_path(work.id)%></li>
    <li><%= "by #{work.creator}" %></li>
    <li><%= "#{work.votes.count} votes"%></li>
    <br>
    <br>
    <% end %>
    <% end %>
  </ul>
</section>

<section>
  <h2>Top Books</h2>
  <ul>
    <% @works.each do |work| %>
    <% if work.category == "book" %>

    <li><%= link_to "#{work.title}", work_path(work.id)%></li>
    <li><%= "by #{work.creator}" %></li>
    <li><%= "#{work.votes.count} votes"%></li>
    <br>
    <br>
  </ul>
  <% end %>
  <% end %>
</section>

<section>
  <h2>Top Albums</h2>
  <ul>
    <% @works.each do |work| %>
    <% if work.category == "album" %>
    <li><%= link_to "#{work.title}", work_path(work.id)%></li>
    <li><%= "by #{work.creator}" %></li>
    <li><%= "#{work.votes.count} votes"%></li>
    <br>
    <% end %>
    <% end %>
  </ul>
</section>
