<section class="flash">
  <% flash.each do |name, message| %>
    <% if message.class == Array %>
      <div class="alert alert-warning">
        <% message.each do |msg| %>
          <p><strong><%= "#{name}:" %></strong><%= " #{msg}" %></p>
        <% end %>
      </div>
    <% else %>
      <div class="alert alert-<%= name %>">
        <%= message %>
      </div>
    <% end %>
  <% end %>
</section>

<section class="user_index">
<h1>Users</h1>
<table class="table">
  <thead>
    <tr>
      <th class="h3">Name</th>
      <th class="h3">Votes Cast</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to "#{user.name}", user %></td>
        <td><%= user.votes.count %></td>
        <td><%= link_to 'Edit', edit_user_path(user), class: "btn btn-primary" %></td>
        <td><%= link_to 'Remove', user, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</section>

<%= link_to 'New User', new_user_path, class: "btn btn-primary btn-center d-flex justify-content-center" %>
