<% if @user.errors.any? %>
  <ul class="errors">
    <% @user.errors.each do |column, message| %>
      <li>
        <strong><%= column.capitalize %></strong> <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>

<h2>Log In</h2>


<%= form_with method: :post, url: login_path do |f| %>
<%= f.label :username %>
<%= f.text_field :username %>

<%= f.submit "Log In" %>
<% end %>
