<h1><strong><%= "User Summary: #{@user.username}" %></strong></h1>

<p><%= "Joined site #{@user.created_at.strftime("%b %d %Y")}" %></p>

<h3><strong>Votes</strong></h3>

<table class="table">
  <thead>
    <tr>
      <th>Media Title</th>
      <th>Created By</th>
      <th>Published</th>
      <th>Category</th>
      <th>Voted On</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <% @votes.each do |v| %>
      <td><%= link_to "#{v.work.title}", work_path(v.work.id)%></td>
      <td><%= v.work.creator %></td>
      <td><%= v.work.publication_year %></td>
      <td><%= v.work.category.capitalize %></td>
      <td><%= v.created_at.strftime("%b %d %Y") %></td>
    </tr>
    <% end %>
  </tbody>
</table>


<%= link_to "See all Users", users_path, class: "btn btn-primary" %>

<%= link_to "Back to Media List", root_path, class: "btn btn-primary" %>
