<<<<<<< HEAD
<section class="user-detail-summary">
  <div class="description-container">

    <h2>User Summary: <%= @user.username %> </h2>
    <p>Joined site on: <%= @user.created_at.strftime("%B %d, %Y") %></p>
  </div>

  <div class="links-bar">
    <%= link_to "Back to all users", users_path, class: "all_users" %>
    <%= link_to "Edit", edit_user_path(@user.id), class: "edit-link" %>
    <%= link_to "Delete", user_path(@user.id), method: :delete, data: {confirm: "Are you sure you want to get rid of user #{@user.username}?" } %>
  </div>
</section>

<table class="user_table">
  <h3>Votes</h3>
  <tr>
    <th>Media title</th>
    <th>Created by</th>
    <th>Published</th>
    <th>Category</th>
    <th>Vote</th>
  </tr>
  <tr>

  </tr>
</table>

<div class="Homepage">
  <h3>
    <%= link_to "Return to all media", root_path, class: "homepage" %>
=======
<div class="description-container">

  <h2><%= @user.title %> </h2>
  <h4>Created by <%= @user.username %></h4>

  <p class="description-text"><%= @user.votes %></p>
</div>
<div class="return-to-users">
  <h3>
    <%= link_to "Return Home", all_users_path, class: "all-users" %>
  </h3>
</div>
<div class="return-home">
  <h3>
    <%= link_to "Return Home", root_path, class: "homepage" %>
>>>>>>> controllers
  </h3>
</div>
