<% if @user.nil? %>
  <h1> 404 Not found</h1>
<% else %>
  <h2>User's summary: <%= link_to "#{@user.username}", user_path(@user.id) %>
  <br>
  <%= "Joined site #{Time.now.getutc}" %>
  <br>
  <br>
<% end %>

<h2>Votes</h2> <%#user's voting history%>

<table style="width:100%" class="table">
  <tr class="header_font">
    <th>Media Title</th>
    <th>Created By</th>
    <th>Published</th>
    <th>Category</th>
    <th>Voted On</th>
  </tr>
<% if @user.upvote.include? @user.id %>
    <td><%= link_to work.title, work_path(work_id) %></td>
    <td><%= link_to work.creator, work_path(work_id) %></td>
    <td><%= link_to work.published_year, work_path(work_id) %></td>
    <td><%= link_to work.category, work_path(work_id) %></td>
    <td><%# work's vote timestamp %></td>
  </tr>
<% end %>
</table>

<div class="btn btn-primary"><%= link_to "See all Users", users_path %></div>
<div class="btn btn-primary"><%= link_to "Back to media ranks", root_path %></div>
