<main>
    <h2>User Summary: <%=@user.name%> </h2>
<p>Joined site <%=@user.created_at%> </p>

<section class="user-votes__container">
  <h3 class="user-votes__header">Votes</h3>
  <table class="table">
    <thead>
      <tr>
        <% @user.votes.count.times do |i| %>
        <th>Media Title</th>
        <th>Created By</th>
        <th>Published</th>
        <th>Category</th>
        <th>Voted On</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @user.votes[i].work.title %></td>
        <td><%= @user.votes[i].work.creator %></td>
        <td><%= @user.votes[i].work.publication_year %></td>
        <td><%= @user.votes[i].work.category %></td>
        <td><%= @user.votes[i].created_at %></td>
      </tr>
        <% end %>
    </tbody>
  </table>
</section>

<a class="btn btn-secondary" href="/users">See all Users</a>
<a class="btn btn-primary" href="/">Back to Media List</a>

</main>
