<h2>Bro Summary: <%= @user.name %></h2>
<p>
  Joined site <%= @user.created_at.to_date %>
</p>

<h3>Votes</h3>
<table class="table">
  <thead>
    <tr>
      <th>Media Title</th>
      <th>Created By</th>
      <th>Published</th>
      <th>Category</th>
      <th>Voted On</th>
    </tr>
  </thead>
  <tbody>
    <% @votes.each do |vote| %>
    <tr>
      <td><%= link_to "#{vote.medium.title}", medium_path(vote.medium) %></td>
      <td><%= vote.medium.creator %></td>
      <td><%= vote.medium.publication_year %></td>
      <td><%= vote.medium.category %></td>
      <td><%= vote.created_at %> </td>
    </tr>
    <% end %>
  </tbody>
</table>
