<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<h1>User Summary: <%= @user.name %></h1>
<sub><%= @user.created_at.to_date.strftime("Joined site %b %d, %Y") %></sub>
<h2>Votes</h2>
<% @votes.each do |vote| %>
  <% row = vote.user_votes_table_row %>
    <ul>
      <li><%= link_to row[0], work_path(row[5]) %></li>
      <li><%= row[1] %></li>
      <li><%= row[2] %></li>
      <li><%= row[3] %></li>
      <li><%= row[4].to_date.strftime("%m/%d/%Y") %></li>
    </ul>
  <% end %>
</ul>

<ul>
  <li><%= link_to "See all Users", users_path %></li>
  <li><%= link_to "Back to Media List", root_path %></li>
</ul>
