
<h2><%="User Summary:#{@user.name}" %></h2>
<p><%="Joined site: #{@user.created_at}" %></p>

<table class="table">
<h2> Votes</h2>
  <thead>
    <tr>
      <th> Media Title </th>
      <th> Created by </th>
      <th> Published </th>
      <th> Category </th>
      <th> Voted On </th>
    </tr>
  </thead>
  <tbody>
<tr> <% @user.votes.each do |vote| %>
  <td><%= link_to "#{vote.work.title}", work_path(vote.work.id) %></td>
  <td> <%= vote.work.creator  %></td>
  <td> <%= vote.work.publication_year  %></td>
  <td> <%= vote.work.category  %></td>
  <td> <%= vote.created_at  %></td>
</tbody>
<% end %>
