<section>
  <h2>
    Media Spotlight: <%= link_to "#{@sorted_works.first.title}", work_path(@sorted_works.first.id)%> by <%= @sorted_works.first.creator %>
  </h2>
  <p><%= @sorted_works.first.votes.length %> votes - <%= @sorted_works.first.description %></p>

</section>

<h2> List of Works </h2>
<strong>
  Books
</strong>
<ul>
  <% @books[0..9].each do |book| %>
  <li>
    <%= link_to "#{book.title}", work_path(book.id)%> by <%= book.creator %>
  </li>
  <p><%= book.votes.length %> votes</p>
  <% end %>
</ul>

<strong>
  Albums
</strong>
<ul>
  <% @albums[0..9].each do |album| %>
  <li>
    <%= link_to "#{album.title}", work_path(album.id)%> by <%= album.creator %>
  </li>
  <p><%= album.votes.length %> votes</p>
  <% end %>
</ul>


<strong>
  Movies
</strong>
<ul>
  <% @movies[0..9].each do |movie| %>
  <li>
    <%= link_to "#{movie.title}", work_path(movie.id)%> by <%= movie.creator %>
  </li>
  <p><%= movie.votes.length %> votes</p>
  <% end %>
</ul>
