<h1>Hey welfcome to the media site haha...ha..</h1>

<section>
  <h2>
    <span>Media Spotlight</span>
    <%= link_to @media_spotlight.title, medium_path(@media_spotlight) %>
  </h2>
  <p>
    <%= media_spotlight_text(@media_spotlight) %>
  </p>
</section>

<h4>Books</h4>
<%= render partial: "media/media_table", locals: {collection: first_ten_by_votes(@books) } %>
<h4>Movies</h4>
<%= render partial: "media/media_table", locals: {collection: first_ten_by_votes(@movies) } %>
<h4>Albums</h4>
<%= render partial: "media/media_table", locals: {collection: first_ten_by_votes(@albums) } %>
