here is the main page


<h2>MEDIA SPOTLIGHT: <%= @top_media.title %></h2>

<h2>Top Books</h2>
<ul>

  <% @top_books.each do |book, votes| %>
  <li><%= book %></li>
  <li>Votes: <%= votes %></li>
  <br>
  <% end %>
</ul>

<h2>Top Movies</h2>
<ul>
  <% @top_movies.each do |movie, votes| %>
  <li><%= movie %></li>
  <li>Votes: <%= votes %></li>
  <br>
  <% end %>
</ul>

<h2>Top Albums</h2>
<ul>
    <% @top_albums.each do |album, votes| %>
    <li><%= album %></li>
    <li>Votes: <%= votes %></li>
    <br>
    <% end %>
</ul>
