here is the main page
<br>
<%= link_to "Works", works_path %>
<br>
<%= link_to "Users", users_path %>


<h2>Top Books</h2>
<ul>
  <% all_books.each do |book| %>
  <li><%= book.title %></li>
  <% end %>
</ul>

<h2>Top Movies</h2>
<ul>
  <% all_movies.each do |movie| %>
  <li><%= movie.title %></li>
  <% end %>
</ul>

<h2>Top Albums</h2>
<ul>
    <% all_albums.each do |album| %>
    <li><%= album.title %></li>
    <% end %>
</ul>
