<section class='spotlight'>
  <h2>Media Spotlight: <%= @works.first.title %> by <%= @works.first.creator %></h2>
</section>

<section class='top-ten-container'>
  <section class='top-ten-list-container'>
    <%= render partial: "top_works_list", locals: { model: @movies, list_name: "Top Movies" } %>
  </section>

  <section class='top-ten-list-container'>
    <%= render partial: "top_works_list", locals: { model: @books, list_name: "Top Books" } %>
  </section>

  <section class='top-ten-list-container'>
    <%= render partial: "top_works_list", locals: { model: @albums, list_name: "Top Albums" } %>
  </section>
</section>
