<main>
  <section class="spotlight">
    <h2 class="spotlight-header">
      <span class="media-spotlight">🔦 Media Spotlight: </span>
      <a class="spotlight-link-to" href=LINK>TITLE</a> by AUTHOR
    </h2>
    <p class="spotlight__description">
      description
    </p>
  </section>

  <div class="top-media-columns">

    <section class="movies-container">
      <h2 class="top-ten-header">
        🎬 Top Movies
      </h2>

      <ul class="list-group top-ten-list">
        <% i = 0 %>
        <% @works.each do |work| %>
        <% if work.category == 'movie' && i < 10 %>
        <li class="list-group-item">
          <h4>
            <%=link_to work.title, work_path(work.id) %>
            <small class="top-ten-creator">by <%= work.creator %></small>
          </h4>
          <p># votes</p>
        </li>
        <% i += 1 %>
        <% end %>
        <% end %>
      </ul>
    </section>

    <section class="books-container">
      <h2 class="top-ten-header">
        📖 Top Books
      </h2>
      <ul class="list-group top-ten-list">
        <% i = 0 %>
        <% @works.each do |work| %>
        <% if work.category == 'book' && i < 10 %>
        <li class="list-group-item">
          <h4>
            <%=link_to work.title, work_path(work.id) %>
            <small class="top-ten-creator">by <%= work.creator %></small>
          </h4>
          <p># votes</p>
        </li>
        <% i += 1 %>
        <% end %>
        <% end %>
      </ul>
    </section>

    <section class="albums-container">
      <h2 class="top-ten-header">
        🎙 Top Albums
      </h2>
      <ul class="list-group top-ten-list">
        <% i = 0 %>
        <% @works.each do |work| %>
        <% if work.category == 'album' && i < 10 %>
        <li class="list-group-item">
          <h4>
            <%=link_to work.title, work_path(work.id) %>
            <small class="top-ten-creator">by <%= work.creator %></small>
          </h4>
          <p># votes</p>
        </li>
        <% i += 1 %>
        <% end %>
        <% end %>
      </ul>
    </section>

  </div>
</main>
