<tr>
  <td><%= medium.votes.length %></td>
  <td><%= medium.title %></td>
  <td><%= medium.creator %></td>
  <td><%= medium.publication_year %></td>
  <td><%= link_to "upvote", medium_path(medium.id) %> </td>
</tr>
