<div class="container">

  <section class="highlight-section">
    <h2>Media Spotlight: </h2>
  </section>

  <div class="movie">
    <h2>Top Movies</h2>
    <% @works.each do |work| %>
    <% if work.category == "movie" %>
    <p><%= link_to work.title, work_path(work.id) %> by <%= work.creator %></p>
    <p><%= work.votes.count %></p>
    <% end %>
    <% end %>
  </div>

  <div class="book">
    <h2>Top Books</h2>
    <% @works.each do |work| %>
    <% if work.category == "book" %>
    <p><%= link_to work.title, work_path(work.id) %> by <%= work.creator %></p>
    <p><%= work.votes.count %></p>
    <% end %>
    <% end %>
  </div>

  <div class="album">
    <h2>Top Albums</h2>
    <% @works.each do |work| %>
    <% if work.category == "album" %>
    <p><%= link_to work.title, work_path(work.id) %> by <%= work.creator %></p>
    <p><%= work.votes.count %></p>
    <% end %>
    <% end %>
  </div>

</div>
