<h2><%= message %> </h2>

<%= form_with model: @work, message: message do |f| %>

<div class="form-group">
<%= f.label :category, "Category"%>
<!-- Select helper takes two options hashes, one for select, and the second for html options. So all you need is to give default empty options as first param after list of items and then add your class to html_options -->
<%= f.select(:category, ['movie', 'album','book'], {}, class: "form-control")%>
</div>

<div class="form-group">
<%= f.label :title, "Title"%>
<%= f.text_field :title, class: "form-control"%>
</div>

<div class="form-group">
<%= f.label :creator, "Creator"%>
<%= f.text_field :creator, class: "form-control"%>
</div>

<div class="form-group">
<%= f.label :publication_year, "Publication Year"%>
<%= f.text_field :publication_year, class: "form-control"%>
</div>

<div class="form-group">
<%= f.label :description, "Description"%>
<%= f.text_area :description, class: "form-control"%>
</div>

<div class="form-group">
<%= f.submit button_text, class: "btn btn-primary"%>
</div>

<% end %>
