<h1> <%= action_name %> </h1>


<% if model_name.errors.any? %>
  <ul class="errors">
    <% model_name.errors.each do |column, message| %>
      <li>
        <strong><%= column.capitalize %></strong> <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>


<%= form_with model: model_name, class: class_name do |f|%>
  <%= form_description %>

<!-- change form labels to match input to edit -->
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :category %>
  <%= f.text_field :category %>

  <%= f.label :year %>
  <%= f.text_field :year %>

  <%= f.label :creator %>
  <%= f.text_field :creator %>

  <%= f.label :description %>
  <%= f.text_field :description %>


  <%= f.submit button_title, class: button_class %>
<% end %>
