<h1> <%= action_name %> </h1>


<%= form_with model: model_name, class: "form-group", local: true do |f|%>
  <%= form_description %>

<!-- change form labels to match input to edit -->
  <%= f.label :title %>
  <%= f.text_field :title, class: "form-control" %>

  <%= f.label :category %>
  <%= f.text_field :category, class: "form-control" %>

  <%= f.label :year %>
  <%= f.text_field :year, class: "form-control" %>

  <%= f.label :creator %>
  <%= f.text_field :creator, class: "form-control"%>

  <%= f.label :description %>
  <%= f.text_field :description, class: "form-control" %>

  <% if @current_user %>
    <%= f.submit button_title, class: "btn btn-primary" %>
     <% else %>
    <%= f.submit button_title, class: "btn btn-primary", disabled: true %>
  <% end %>

<% end %>
