<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <section class="flash-messages">
  <% flash.each do |key, message| %>
    <p class="<%= key %>">
      <%= message %>
    </p>
  <% end %>
</section>

  <body>
    <%= yield %>
  </body>
</html>
