<!DOCTYPE html>
<html>
<head>
  <title>MediaRanker</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <header>
    <h1 class="home-page-header"><%= link_to "MediaRanker", root_path %> | Ranking the Best of Everything</h1>
    <nav>
      <% flash.each do |key, value| %>
      <%= value %>
      <% end %>
      <ul>
        <li><%= link_to "View all media", works_path, class: "all_works-link" %></li>
        <li><%= link_to "Add a new work", new_work_path, class: "new_work-link" %></li>
        <li><%= link_to "View all users", users_path, class: "new_work-link" %></li>
        <% if session[:user_id] %>
        <% user = User.find_by(id: session[:user_id]) %>
        <li><%= link_to "Logged in as #{user.username}", new_session_path, class: "login-link" %></li>
        <% end %>
        <li><%= link_to "Log out", logout_path, class: "logout-link" %></li>
      </ul>
    </nav>
  </header>

  <main>
    <%= yield %>
  </main>

  <footer>
  </footer>
</body>
</html>
