<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>Media Ranker</h1>
      <h1>Ranking the best of everything</h1>

      <nav>
        <ul class="navbar">
          <li class="nav-item"><%= link_to  "View All Media", works_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to  "Add New Work", new_work_path, class: "nav-link" %></li>
        </ul>
      </nav>
    </header>

    <%= yield %>
  </body>
</html>
