<!DOCTYPE html>
<html>
  <head>
    <title>(Sammi-Jo) Media Ranker</title>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <div class="jumbotron">
        <h1 class="display-4"><%= link_to "MediaRanker", root_path %> | Ranking the Best of Everything</h1>

        <nav>
          <ul>
            <li><%= link_to "Top Media on MediaRanker (Home)", root_path %></li>
            <li><%= link_to "View All Media", works_path %></li>
            <li><%= link_to "Add A New Work", new_work_path %></li>
            <li><%= link_to "View All Users", users_path %></li>
            <% if @current_user %>
              <li><%= link_to "Log Out", logout_path, method: :delete, class: "btn btn-primary btn-lg", role: "button"%> (logged in as <%= link_to "#{@current_user.name}", user_path(@current_user.id) %>)</li>
            <% else %>
              <li><%= link_to "Log In", login_path, class: "btn btn-primary btn-lg", role: "button" %></li>
            <% end %>
          </ul>
        </nav>
      </div>


      <section class="flash flash-session">
        <% if @current_user %>
          <div class="alert-info">
          <%= "#{session[:salutation]} #{@current_user.name}! You're logged in!" %>
        <% else %>
          <div class="alert-warning">
          <%= "You are not logged in. Please log in to vote." %>
        <% end %>
          </div>
      </section>

      <section class="flash">
        <% flash.each do |name, message| %>
        <% if message.class == Array %>
          <div class="alert-warning">
            <% message.each do |msg| %>
              <strong>(Array) <%= "#{name}".capitalize %></strong> <%= "#{msg}" %></div>
            <% end %>
          <% else %>
            <div class="alert-danger alert-<%= name %>"><strong>(Item) <%= "#{name}".capitalize %>:</strong> <%= "#{message}" %></div>
          <% end %>
        <% end %>
      </section>

    </header>

    <%= yield %>

    <footer>
      <p>cranky ranky © <%= Date.today.year %> <%= link_to "sammi-jo lee", "https://github.com/sjlee3157", target: "_blank" %></p>
    </footer>

  </body>
</html>
