<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Gudea:400,700|Hammersmith+One" rel="stylesheet">
  </head>

  <body>
    <div id="header_container">
      <header>

        <section class="flash">
          <% flash.each do |name, message| %>
            <% if message.class == Array %>
              <div class="alert-warning">
                <% message.each do |msg| %>
                    <p><strong><%= "#{name}:" %></strong><%= " #{msg}" %></p>
                <% end %>
              </div>
            <% else %>
              <div class="alert-<%= name %>">
                  <%= message %>
              </div>
            <% end %>
          <% end %>

        <h1><%= link_to "Media Ranker", welcome_index_path %> </h1>
        <h2><%= "Ranking the Best of Everything" %></h2>
      </header>

      <nav>
        <!-- View Top Media -->
        <!-- View all media -->
        <%= link_to "View All Media", works_path %>
        <!-- Add a new work -->
        <%= link_to "Add Media", new_work_path %>
        <!-- View all users -->
        <%= link_to "Users", users_path %>

        <% if @current_user %>
          <%= link_to "Log Out", logout_path, method: :delete, class: 'btn btn-primary' %>
        <% else %>
          <%= link_to "Login", login_path, class: 'btn btn-primary' %>
        <% end %>
      </nav>
    </div>

    <%= yield %>
  </body>
</html>
