<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
     <h1> <%= link_to "MEDIA RANKER", root_path %> </h1>
    <section class="flash">
        <%flash.each do |name, message|%>
        <% if message.class == Array %>
          <%message.each do |msg|%>
            <div class="alert-warning">
              <strong> <%= "#{name}:" %> </strong> <%= " #{msg}"%>
            </div>
          <%end%>
        <%else%>
          <div class="alert-warning">
             <%=message %>
           </div>
        <%end%>
      <%end%>
      </section>
  </header>

    <nav>
      <ul>
        <li>
          <%= link_to "NEW", new_work_path %>
        </li>
        <li>
          <% if @current_user %>
          <%= link_to "LOG OUT #{@current_user.handle}", logout_path, method: :delete %> </li>
          <li> <%= link_to "MY ACCOUNT", user_path(session[:user_id])%> </li>
          <% else %>
          <%= link_to "LOG IN", new_user_path %> </li>
          <% end %>
        </li>
        <li>
          <%= link_to "View all media" %>
        </li>
        <li>
          <%= link_to "View top media" %>
        </li>
        <li>
          <%= link_to "Add a new work" %>
        </li>
        <li>
          <%= link_to "View all users", users_path %>
        </li>
      </ul>

    </nav>
    <%= yield %>
  </body>
</html>
