<!DOCTYPE html>
<html>
  <head>
    <title>Media Ranker</title>
    <section>

    <%= "Media Ranker | Ranking the Best of Everything" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="top-navbar">

            <%= link_to "View Top Media", root_path %>

            <%= link_to "View All Media", works_path %>

            <%= link_to "Add a new work", new_work_path %>

            <%= link_to "View all users", users_path %>

      </nav>

      </section>
      <section class="flash-messages">
          <% flash.each do |key, message| %>
              <p class="<%= key %>">
                <%= message %>
              </p>
            <% end %>
          </section>

    <section class="login-info">

      <% if @logged_in_user %>
        <p>
          Currently logged in as
          <%= @logged_in_user.user_name %>
          <%= link_to "Log out", logout_path, method: :post, class: "btn btn-outline-info" %>
        </p>
      <% else %>
          <%= link_to "Log in", new_session_path, class: "btn btn-outline-info" %>
      <% end %>
      </section>

    <%= yield %>
  </body>
</html>
