<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |name, msg| %>
      <ul>
        <li> <%= msg %> </li>
      </ul>
    <% end %>

    <header>
      <h1 class="title"><span class="ranker"><%= link_to "Media Ranker", root_path %></span><span id="subtext">Ranking the Best of Everything</span></h1>

      <nav>
        <ul>
          <li class="nav-list"><%= link_to "View All Media", works_path%>
          </li>
          <li class="nav-list"><%= link_to "Add A New Work", new_work_path %></li>
        </ul>
      </nav>
    </header>

    <main>
    <%= yield %>
    </main>

    <!-- <%= debug(params) if Rails.env.development? %> -->
  </body>
</html>
