<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <section class="flash">
        <%flash.each do |name, message|%>
        <% if message.class == Array %>
          <%message.each do |msg|%>
            <div class="alert-warning">
              <strong> <%= "#{name}:" %> </strong> <%= " #{msg}"%> </div>
          <%end%>
        <%else%>
          <div class="alert-warning">
             <%=message %>
           </div>
        <%end%>
      <%end%>
      </section>
    <h1><%= link_to "Media Ranker", root_path %></h1>
    <nav>
      <ul>
        <li><%= link_to "Add a New Work", "/works/new" %></li>
        <li><%= link_to "View all Works", "/works" %></li>
      </ul>
    </nav>
  </header>
    <%= yield %>
  </body>
</html>
