<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body cz-shortcut-listen="true">
    <!-- <header>
      <h1>Media Ranker</h1>
      <h2>| Ranking the Best of Everything</h2>
      <p><%=link_to "View Top Media", root_path %></p>
      <p><%=link_to "View All Media", works_path %></p>
      <p><%=link_to "Add a new work", new_work_path %></p>
      <p><%=link_to "View all users", users_path %></p>
      <button>Log in</button>
    </header>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>Holy guacamole!</strong> You should check in on some of those fields below.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div> -->
    <header class="app-header__header">
      <h1>
        <a href="/">Media Ranker</a>
        <small>Ranking the Best of Everything</small>
      </h1>

      <nav class="app-header__nav">
        <ul class="nav app-header__site-nav-container">
          <li class="nav-item app-header__nav_item">
            <a class="nav-link" href="/">View top media</a>
          </li>
          <li class="nav-item app-header__nav_item">
            <a class="nav-link" href="/works">View all media</a>
          </li>
          <li class="nav-item app-header__nav_item">
            <a class="nav-link" href="/works/new">Add a new work</a>
          </li>
          <li class="nav-item app-header__nav_item">
            <a class="nav-link" href="/users">View all users</a>
          </li>
        </ul>
        <ul>
          <% if @current_user %>
            <p class="btn btn-primary">Logged in as <%= @current_user.user_name %></p>
          <%end%>
        </ul>
        <ul class="nav app-header__user-nav-container">

          <li class="nav-item app-header__nav_item">
            <% if @current_user %>
              <%= link_to "Log Out", logout_path, class: "btn btn-primary", method: :delete %>
            <% else %>
              <%= link_to "Log in", login_path, class: "btn btn-primary" %>
            <% end %>
          </li>
        </ul>
      </nav>
    </header>
    <section class="alert__container">
      <% flash.each do |name, message| %>
        <% if message.class == Array %>
          <div class="alert alert-<%= name %>">
            <ul>
              <% message.each do |msg| %>
                <li><%= "#{name}: #{msg}\n" %></li>
              <% end %>
            </ul>
          </div>
        <% else %>
          <div class="alert-<%= name %>"><%= message %></div>
        <%end%>
      <% end %>
  </section>
    <%= yield %>
  </body>
</html>
