<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <nav>
        <%= form_with method: :post, url: login_path do |f| %>
        <%= f.label :username %>
        <%= f.text_field :username %>

        <%= f.submit %>
        <% end %>
      </nav>
    </header>

    <section class = "flash-message">
      <% flash.each do |key, message| %>
      <p class= "<%= key %>">
        <%= message %>
      </p>
      <% end %>
    </section>

    <main>
      <%= yield %>
    </main>

    <footer>
    </footer>


  </body>
</html>
