<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <header>
    <h1>Media Ranker</h1>
    <h1>Ranking the Best of Everything</h1>
    <nav>
      <ul>
        <li>View top media</li>
        <li>View all media</li>
        <li>Add a new work</li>
        <li>View all users</li>
        <li>Logged in as </li>
        <li>Log Out</li>
      </ul>
    </nav>


  <section class="login-info">
    <% logged_in_user = User.find_by(id: session[:user_id]) %>
    <% if logged_in_user  %>
    <p>
      Currently logged in as
      <%= logged_in_user.username %>
      <%= link_to "Log out", logout_path, method: :post %>
      <% else %>
      <%= link_to "Log in", new_session_path %>
      <% end %>
    </p>
  </section>
  </header>

  <section class="flash-messages">
    <% flash.each do |key, message| %>
      <p class="<%= key %>">
        <%= message %>
      </p>
    <% end %>
  </section>


  <main>
    <%= yield %>
  </main>

  </body>
</html>
