<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |name, msg| %>
      <ul>
        <li> <%= msg %> </li>
      </ul>
    <% end %>

    <h2><%= link_to "Media Ranker", root_path, class: "main_title" %></h2>
    <h4>Ranking the Best of Everything</h4>
    
    <nav>
      <ul>
        <li><%= link_to "View All Media", works_path, class: "all_media_link" %>
        </li>
        <li><%= link_to "Add A New Work", new_work_path, class: "new_work_link" %></li>
      </ul>
    </nav>

    <%= yield %>
    <!-- <%= debug(params) if Rails.env.development? %> -->
  </body>
</html>
