<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= favicon_link_tag 'owl.jpg' %>

    <link href="https://fonts.googleapis.com/css?family=Gudea" rel="stylesheet">
  </head>

  <header class="header-section">
    <h1><%= link_to 'Media Ranker', root_path, class: "header-link" %> <small class="header-text">Ranking the Best of Everything</small>
    </h1>
    <nav "justify-content-center">
      <ul class="nav">
        <li class="nav-item nav-link">
          View top media
        </li>
        <li class="nav-item">
          <%= link_to 'View all media', works_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Add a new work', new_work_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'View all users', users_path, class: "nav-link" %>
        </li>
      </ul>
    </nav>

  <section class="login-info">
    <% if @logged_in_user %>
      <p>
        Currently logged in as user
        <%= logged_in_user.name %>
        <%= link_to "Log out", logout_path, method: :post, class: "btn btn-outline-info" %>
      </p>
    <% else %>
      <%= link_to "Log in", new_session_path, class: "btn btn-outline-info" %>
    <% end %>
  </section>

  </header>

  <section class="flash-messages">
      <% flash.each do |key, message| %>
        <p class="<%= key %>">
          <%= message %>
        </p>
      <% end %>
    </section>

  <body>
    <%= yield %>
  </body>
</html>
