<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav>
    <ul>
      <li><%= link_to "MediaRanker", root_path %></li>
      <li><%= link_to "View Top Media", root_path %></li>
      <li><%= link_to "View All Media", works_path %></li>
      <li><%= link_to "Add A New Work", new_work_path %></li>
      <li><%= link_to "View All Users", users_path %></li>
      <% if @current_user %>
        <li><%= link_to "Log Out (logged in as #{@current_user.name})", logout_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Log In", login_path %></li>
      <% end %>
    </ul>
  </nav>

  <body>

    <header>
      <% if @current_user %>
      <section class="flash flash-session">
        <div class="alert-info"><%= "Hi #{@current_user.name}! You're logged in!" %></div>
        <% end %>
      </section>

      <section class="flash">
        <% flash.each do |name, message| %>
        <% if message.class == Array %>
          <div class="alert-warning">
            <% message.each do |msg| %>
              <strong>(Array) <%= "#{name}".capitalize %></strong> <%= "#{msg}" %></div>
            <% end %>
          <% else %>
            <div class="alert-danger alert-<%= name %>"><strong>(Item) <%= "#{name}".capitalize %>:</strong> <%= "#{message}" %></div>
          <% end %>
        <% end %>
      </section>
    </header>

    <%= yield %>

  </body>
</html>
