<!DOCTYPE html>
<html>
<head>
  <title>MediaRanker</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <header>
    <nav>
      <ul>
        <li><%= link_to "Users", users_path, class: "all_users-link" %>
        </li>
        <li><%= link_to "Works", works_path, class: "all_works-link" %></li>
        <li><%= link_to "Create New Works", new_work_path, class: "new_work-link" %></li>
      </ul>
    </nav>
  </header>
  <%= yield %>
  <footer>
  </footer>
</body>
</html>
