<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <nav>
      <ul>
     <li><%=link_to "View top media", root_path%></li>
     <li><%=link_to "View all media", works_path%></li>
     <li><%=link_to "Add a new work", new_work_path%></li>
     <li><%=link_to "View all users", users_path%></li>
     <li>
     <% if @current_user%>
        <%= link_to "Log Out", logout_path, method: :delete, class: 'btn btn-primary' %>
      <%else%>
        <%= link_to 'Login', login_path, class: 'btn btn-primary' %>
      <% end %>
    </li>
    </ul>
  </nav>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
