<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header_title">
        <h1 class="title">Media Ranker <span id="subtitle">| Ranking the Best of Everything</span>
        </h1>
      </div>
      <div class="links">
        <nav>
          <ul>
            <div class="site_navigation">
              <li><%= link_to "View top media", root_path %></li>
              <li><%= link_to "View all media", works_path %></li>
              <li><%= link_to "Add a new work", new_work_path %></li>
              <li>all users link</li>
            </div>
            <div class="login_logout">
              <li><%= link_to "Log In", new_session_path %></li>
              <li>Log out</li>
            </div>
          </ul>
        </nav>
      </div>
    </header>

    <section class="flash_messages">
      <% flash.each do |key, message| %>
        <%= message %>
      <% end %>
    </section>

    <%= yield %>
  </body>
</html>
