<!DOCTYPE html>
<html>
  <head>
    <link href="/assets/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <title>MediaRanker</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar">
      <%# if session[:user_id] %>
        <%# link_to "Logged in as: #{session[:user_name]}", user_path(session[:user_id]), class: "btn btn-primary" %>
        <% if @current_user %>
        <% link_to "Logged in as: #{@current_user.name}", user_path(@current_user.id), class: "btn btn-primary" %>
        <%= link_to "Log Out", logout_path, method: :delete, class: "btn btn-primary" %>
      <% else %>
        <%= link_to "Log In", login_path, class: "btn btn-primary" %>
      <% end %> 
    </nav>

    <header>
    <section class="flash">
            <% flash.each do |name, message| %>
              <% if message.class == Array %>
                <% message.each do |msg| %>
                  <div class="alert-<%= name %>">
                    <strong><%= "#{name}:" %></strong><%= " #{msg}" %></div>
                <% end %>
              <% else %>
                <div class="alert-<%= name %>">
                    <%= message %>
                </div>
              <% end %>
            <% end %>
    </section>
    <section>
        <% if @current_user %>
          <h2>Logged in as: <%= @current_user.name %> </h2>
        <% end %>
    </section>
      
    </header>
    <%= yield %>
  </body>
</html>
