<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <section class="flash">
      <% flash.each do |name, message| %>
      <% if message.class == Array %>
      <%message.each do |msg| %>
      <div class="alert -<%= name %>"><%="#{name}: #{msg}" %></div>
      <% end %>
      <%else%>
      <div class="alert -<%= name %>"><%= message %></div>
      <% end %>
      <% end %>
      <% if @current_user %>
      <h2> Welcome <%@current_user.name %> </h2>
      <% end %>
    </section>

      <h1> Media Ranker | Ranking the Best of Everything </h1>
      <nav>
      <ul>
        <li>
          <%= link_to  "View top media", "/" %>
        </li>
        <li>
          <%= link_to  "View all media", works_path %>
        </li>
        <li>
          <%= link_to "Add a new work", new_work_path %>
        </li>
        <li>
          <%= link_to "View all Users", users_path %>
        </li>
        <li>
          <% if session[:user_id] %>
          <%= link_to "log out", logout_path, method: :delete %>
          <% else %>
          <%= link_to "Login", login_path %>
          <% end %>
        </li>


          </ul>
        </nav>
    </header>
    <%= yield %>
  </body>
</html>
