<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <section class="flash">
        <%flash.each do |name, message|%>
        <% if message.class == Array %>
          <%message.each do |msg|%>
            <div class="alert-warning">
              <strong> <%= "#{name}:" %> </strong> <%= " #{msg}"%> </div>
          <%end%>
        <%else%>
          <div class="alert-warning">
             <%=message %>
           </div>
        <%end%>
      <%end%>

      </section>
  <header class="app_header">
    <h1>
      <a href="/"> Media Ranker</a>

      <small> Ranking the Best of Everything</small>
    </h1>
    <nav class="app_header_nav">
      <ul class="nav nav_app_header_site_nav_container">
        <li class="nav-item app-header_nav_item"><%= link_to "View Top Media", "/" %></li>
        <li class="nav-item app-header_nav_item"><%= link_to "View all Media", "/works" %></li>
        <li class="nav-item app-header_nav_item"><%= link_to "Add a New Work", "/works/new" %></li>
        <li class="nav-item app-header_nav_item"><%= link_to "View all Users", "/users" %></li>
        <li>
        <% if @current_user %>
          <%= link_to "Logged in as #{@current_user.username}", user_path(@current_user.id), class: 'btn btn-primary'%>
          <%= link_to "Log Out", logout_path, method: :delete, class: 'btn btn-primary' %>
       <% else %>
          <%= link_to "Login", login_path, class: 'btn btn-primary' %>
       <% end %>
         </li>
      </ul>
    </nav>
  </header>
    <%= yield %>
  </body>
</html>
