<!DOCTYPE html>
<html>
<head>
  <title>MediaRanker</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <header>
    <div class="top-section">
    <h1 class="MediaRanker"><%= link_to "MediaRanker", root_path %></h1>

    <nav class="top-navbar">

      <%= link_to "View All Media", works_path %>
      <br>
      <%= link_to "Add a new work", new_work_path %>

      <%= link_to "View All Users", users_path %>
    </nav>

    <section class="login-info">
      <% if @logged_in_user %>
      <p>
        Currently logged in as user  
        <%= @logged_in_user.username %>
        <%= link_to "Log out", logout_path, method: :post, class: "btn btn-outline-info" %>
        <%= link_to "Logged in as #{@logged_in_user.username}", user_path(@logged_in_user.id), class: "btn btn-outline-info" %>
      </p>
      <% else %>
      <%= link_to "Log in", new_session_path, class: "btn btn-outline-info" %>
      <% end %>
    </section>
</div>
  </header>


  <main class="main">
    <%= yield %>
  </main>

</body>

</html>
