<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <nav>

      </nav>

      <section>

        <!-- move this - controller filter? -->
        <% logged_in_user = User.find_by(id: session[:user_id]) %>
        <% if logged_in_user %>
        <p>
          Currently logged in as <%= logged_in_user.username %>
          <%= link_to "Log out", logout_path, method: :post %>
        </p>
        <% else %>
        <%= link_to "Log in", login_path %>
        <% end %>



      </section>

    </header>

    <section class = "flash-message">
      <% flash.each do |key, message| %>
      <p class= "<%= key %>">
        <%= message %>
      </p>
      <% end %>
    </section>

    <main>
      <%= yield %>
    </main>

    <footer>
    </footer>


  </body>
</html>
