<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Gudea:400,700|Hammersmith+One" rel="stylesheet">
  </head>

  <body>
    <div id="header_container">
      <header>
          <!--Enter Flash code here  -->
          <!-- <section class="flash">
             flash.each do |name, message|
            <! if message.class == Array  -->
            <!-- messages.each do |msg| -->
            <!-- div class="alert"  -->
            <!--  else etc.  -->
              <!--   -->
            <!-- end -->
          <!-- </section> -->
        <h1><%= link_to "Media Ranker", welcome_index_path %> </h1>
        <h2><%= "Ranking the Best of Everything" %></h2>
      </header>

      <nav>
        <!-- View Top Media -->
        <!-- View all media -->
        <!-- Add a new work -->
        <!-- View all users -->
        <!-- Logout link if logged in -->
        <!-- if session[:user_id] -->
        <!-- link_to "Log Out", logout_path, method: :delete -->
        <!-- Login  link if not logged in  -->
        <!-- link_to "Log In", login_path -->
      </nav>
    </div>
    <section id="Media Spotlight">
      <!--Spotlight here  -->
      <h1><%= "Media Spotlight:" %> </h1>
    </section>

    <%= yield %>
  </body>
</html>
