<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav>
    <ul>
      <li><%= link_to "MediaRanker", root_path %></li>
      <li><%= link_to "View Top Media", root_path %></li>
      <li><%= link_to "View All Media", works_path %></li>
      <li><%= link_to "Add A New Work", new_work_path %></li>
      <li><%= link_to "View All Users", users_path %></li>
      <% if session[:user_id] != nil %>
        <% current_user = User.find_by(id: session[:user_id]).name %>
        <li><%= link_to "Log Out (logged in as #{current_user})", logout_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Log In", login_path %></li>
      <% end %>
    </ul>
  </nav>

  <body>

    <header>

      <section class="alert-info">
        Session Info: User.find_by(id: session[:user_id]).name = <%= current_user %>
      </section>

      <section class="flash flash-session">
        <% if @current_user %>
          <h2>Hi <%= @current_user.name %>! You're logged in!</h2>
        <% end %>
      </section>

      <section class="flash flash-alert">
        <% flash.each do |name, message| %>
          <% if message.class == Array %>
            <div class="alert-warning">
            <% message.each do |nme, msg| %>
              <strong>(Array)<%= "#{nme}".capitalize %>:</strong> <%= "#{msg}" %>
            <% end %>
            </div>
        <% elsif message.class == Hash %>
          <div class="alert-warning">
          <% message.each do |nme, msg| %>
            <strong>(Hash)<%= "#{nme}".capitalize %>:</strong> <%= "#{msg}" %>
          <% end %>
          </div>
          <% else %>
            <div class="alert-warning alert-<%= name %>"><strong>(Item)<%= "#{name}".capitalize %>:</strong> <%= "#{message}" %></div>
          <% end %>
        <% end %>
        </ul>
      </section>
    </header>

    <%= yield %>
  </body>
</html>
