<!DOCTYPE html>
<html>
<head>
  <title>MediaRanker</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>


  <header>

    <h1 class="MediaRanker"><%= link_to "MediaRanker", root_path %></h1>

    <nav class="top-navbar">

    <%= link_to "View All Media", works_path %>
    <br>
    <%= link_to "Add a new work", new_work_path %>

    <%= link_to "View All Users", users_path %>
  </nav>

    <br>

  </header>


  <main>
    <%= yield %>
  </main>

</body>

</html>
