<!DOCTYPE html>
<html>
<head>
  <title>MediaRanker</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <header>
    <h1 class="home-page-header"><%= link_to "MediaRanker", root_path %> | Ranking the Best of Everything</h1>
    <nav>
      <% flash.each do |key, message| %>
      <%= message %>
      <% end %>
      <ul>
        <li><%= link_to "View all media", works_path, class: "all_works-link" %></li>
        <li><%= link_to "Add a new work", new_work_path, class: "new_work-link" %></li>
        <li><%= link_to "View all users", users_path, class: "new_work-link" %></li>
        <% if @current_user %>
        <li><%= link_to "Logged in as #{@current_user.username}", user_path(@current_user.id), class: "login-link" %></li>
        <li><%= link_to "Log out", logout_path, method: :post, class: "logout-link" %></li>
        <% else %>
        <li><%= link_to "Log in", new_session_path, class: "login-link" %></li>
        <% end %>
      </ul>
    </nav>
  </header>

  <main>
    <%= yield %>
  </main>

  <footer>Footer Info</footer>
</body>
</html>
