<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header_title">
        <h1>Media Ranker | Ranking the Best of Everything
        </h1>
      </div>
      <div class="links">
        <nav>
          <ul>
            <div class="site_navigation">
              <li>top media link</li>
              <li>all media link</li>
              <li>add new work link</li>
              <li>all users link</li>
            </div>
            <div class="login_logout">
              <li>log in link</li>
              <li>Log out</li>
            </div>
          </ul>
        </nav>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
